*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-offcanvas{
    width: 70% !important;
     background-color: #f8f9fa;
}
.bg-custom{
    background: blue !important;
}

.bg-custom .nav-link{
    color: #fff;
}
.bg-custom .navbar-brand{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.custom-toggle i {
  color: white;
  font-size: 26px;
}
